body,h1,h2,h3,h4,h5,h6 {font-family: "Raleway", sans-serif}

body, html {
  height: 100%;
  line-height: 1.8;
}

/* Full height image header */
.bgimg-1 {
  background-position: center;
  background-size: cover;
  background-image: url("/w3images/mac.jpg");
  min-height: 100%;
}

.w3-bar .w3-button {
  padding: 16px;
}

/* Login page style */

body.login_page {
  background-color: #4fc3f7;
  padding-left: 550px;
  padding-top: 200px;
}

div.login_box {
  width: 45%;
  height: 70%;
  background-color: aliceblue;
  padding: 30px 125px 0px;
  border-radius: 20px;
}

.center {
  text-align: center;
}

.login_button {
  /* margin-left: 60px; */
  background-color: teal;
  color: whitesmoke;
  border-radius: 10px;
}